<nav class="navbar navbar-light sticky-top" style="background-color: #b7b7b8;">
  <!-- Navbar content -->
  <span class="navbar-text">
    Beta Scraper
  </span>
</nav>


<div class="jumbotron jumbotron-fluid d-flex align-items-center shadow-lg">
    <div class="container text-center">

            <h1 class="display-4"><strong>Finance Geek</strong> </h1>
            <p class="lead">Your saved articles</p>

    </div>
</div>