.jumbotron{
    color: white;
    background-image: url(/images/investment.jpg);
    background-repeat: no-repeat;
    align-items:center;
    background-size:cover;
    min-height: 30em; 
    background-position: center center;
}


.navbar

body{
    background-color: #eeeeee;
}

/* https://coolors.co/f7f7f7-dedbe0-5a6166-607582-1d9aba whitesmoke */
/* http://colormind.io/bootstrap/ */